:root {
    background-color:rgb(243, 253, 186);
    font-family: "Be Vietnam Pro", sans-serif;
    color: rgb(32, 33, 32);
    
}
.be-vietnam pro-thin {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
.sigmar-one-regular {
    font-family: "Sigmar One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body {
    margin: 0;
}

header {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    position: sticky;
    top: 1px;
    bottom: 1px;
    background-color: rgb(243, 253, 186);
    z-index: 1;

}
#greeting {
    font-family: "Sigmar One", sans-serif;
    text-align: center;
    padding: 1;
    margin: 0;
    font-size: 50px;

}
nav {
    display: flex;
    align-items: center;
}
.nav-links {
    display: flex;
    font-size: 12px;
    
}
ul li {
    list-style-type: none;
    margin-right: 30px;
   
}


.double-blog-section{
    background-color: white;
    padding: 1;
    margin: 10 0;
    display: flex;

}
#core-posts {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 5px
}

#tech-posts {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 5px

}

#about-section {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 14px;

    

}
#AB_portrait {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(32, 33, 32);
    border-width: 2px;
    margin-left: 20;
  
    
}
#about-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
footer {
    font-size: 10;
    padding: 20 20 20 20;
    margin: 0;
}
.single-blog-section {
    background-color: #ffffff;
    padding: 1;
    margin: 0;
    padding: 20px;
}
.post-preview {
    border-style: solid;
    border-color: rgb(32, 33, 32);
    border-width: 2px;
    margin: 0;
    padding: 20px;
    font-size: 14px;
}
.post-title {
    font-size: 16px;
    margin-bottom: 0;
   
    
}
.post-date {
    font-size: 12px;
    font-style: italic;
    padding-bottom: 20px;
    padding-top: 0;
}
.post-caption {
    text-align: center;
}
.image-preview {
    width: 100%;
}
    

    



